/* weigh-in: simple node, jquery and flot based weigh-in

Copyright © 2013 John Hedges

This program is free software; you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation; either version 2 of the License, or (at your option)
any later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public License along with
this program; if not, write to the Free Software Foundation, Inc., 51
Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA. */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, svg {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end of eric meyer reset.css */

ul {
  list-style: none;
}

body {
  position: relative;
  padding: 10px;
  font-family: sans-serif;
}

#chart {
  height: 300px;
  width: 100%;
}

#weigh-in {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
}

#weigh-in form {
  position: relative;
  left: -50%;
  border: 1px solid black;
  background: #fff;
  padding: 20px;
}

#weigh-in li {
  position: relative;
  height: 2em;
  width: 10em;
}

label {
  display: block;
  width: 6em;
  text-align: right;
  line-height: 140%;
}

input.text {
  display: block;
  position: absolute;
  left: 6.5em;
  top: -0.2em;
  width: 3em;
  border: 1px solid #666;
  font-size: 100%;
}

